* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
}

m,
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 5%;
}

.detail {
  color: white;
  width: 40%;
  margin-left: auto;
  padding: 5%;
}
.work {
  color: white;
  font-size: 350%;
}
