* {
  box-sizing: border-box;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
.start .login {
  font-size: 20px;
  color: white;
  margin: 5%;
}
.input-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start .input-login .input-email,
.start .input-login .input-password {
  color: white;

  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}
.clock #clock {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 90%;
  padding: 0;
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.auth-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}
.aboutBtn {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 5%;
}
